<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../static/Styles/style2.css">
</head>

<body>
    <div class="loader"></div>
    <div class="loading">
        <h1>Evaluating your Idea..</h1>
        <hr>
        <p style="text-align: center;">Please wait while we evaluate the presentation. You will be redirected shortly.
        </p>
        <div class="credit">
            The application is developed by:
                <p><strong>Naman Agnihotri</strong></p>
                <p><strong>Harshvardhan Grandhi</strong></p>
        </div>

        <script>
            // Redirect after a short delay to ensure the background process completes
            setTimeout(function () {
                window.location.href = "{{ url_for('landing_page') }}";
            }, 15000); // Adjust the delay as needed
        </script>
    </div>
</body>

</html>